
.overlap {

    z-index: 9999;
    overflow-x: hidden;
    transition: 1s;
    
    width: 250px;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: #fff;
}

.hidden {
    width: 100px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.4s;
}