.card {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1em;
}

tr td:first-child {
    width: 60%;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-weight: 80 0;
    font-size: 14px;
    color: #000;
}
