.header {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}

.overlap {
    padding-top: 0;
    box-shadow: 3px 3px 3px 3px #919191;
    z-index: 9999;
    overflow-x: hidden;
    transition: 0.4s;
    padding-left: 0;
    width: 300px;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: #fff;
}

.hidden {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.4s;
}