.username-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
} 

.grid {
    margin-bottom: 20px;
}

.icon-profile {
    font-size: 50px;
    margin-right: 5px;
}

.icon-dropdown {
    font-size: 30px;
}

.username {
    margin-top: 32px;
}

.username-swap-icon {
    margin-top: 10px;
}